<template>
    <div>
    <BranchSidebar/>
    <h1>Staff Dashboard</h1>
        <div id="content-wrapper" class="d-flex flex-column">
            <div  class="container-fluid">
             <nav>
                 <footer class="sticky-footer bg-white">
                     <div class="container my-auto">
                         <div class="copyright text-center my-auto">
                         </div>
                     </div>
                 </footer>
             </nav>
            </div>
        </div>
                        <div v-for="dav in data" id="staff-data">
                            <div class="card-columns">
                                <div class="card bg-primary">
                                    <div class="card-body text-center">
                                        <div  class="card-text">
                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Total Income: {{dav.totalAmount}}  </span>
                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                        </div>
                                    </div>
                                </div>
                                <div  class="card bg-warning">
                                    <div class="card-body text-center">
                                        <div class="card-text">
                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Two Wheelers :{{dav.two}} </span>
                                            <span class="h5 mb-0 font-weight-bold text-white" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-success">
                                    <div class="card-body text-center">
                                        <div class="card-text">
                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Total transaction :{{dav.totalTransaction}} </span>
                                            <span class="h5 mb-0 font-weight-bold text-white" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-danger">
                                    <div class="card-body text-center">
                                        <div class="card-text">
                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">FOUR Wheelers :{{dav.four}} </span>
                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-dark">
                                    <div class="card-body text-center">
                                        <div class="card-text">
                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Today Total Transaction :{{dav.todayTotalTransaction}} </span>
                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-info">
                                    <div class="card-body text-center">
                                        <div class="card-text">
                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Six Wheelers :{{dav.six}} </span>
                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            </template>

<script>
    import BranchSidebar from "./BranchSidebar";
    import axios from 'axios';
    import api from './backend-api';
    export default{
        name: "Admin",
        components:{
          BranchSidebar
        },
        data(){
            return {
                branchData: {'userId': '', 'userType': ''},
                data:[{'user':'','branch':'','totalTransaction':'','totalAmount':'','two':'','four':'', 'todayTotalTransaction':'','six':''}]
            }
          },
        methods:{
            logout() {
                api.logout().then(() => {
                    this.$router.push('login');
                })
            }
        },
        mounted() {
                api.getBranchDashboard().then(response=>{
                  this.data=response.data;
                  console.log(response.data);
                })
        }
    }
</script>

<style scoped>

</style>