<template>
    <body id="page-top">

    <Sidebar/>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div v-if="showCategoryAddForm===true">
                <div align="center">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div align="left">
                                            <b-button @click="goBackToCategoryList()"> Back </b-button>
                                        </div>
                                        <h1 class="h4 text-gray-900 mb-4">Add
                                            Category!</h1>
                                    </div>
                                    <form id="App" class="user" method="post">
                                        <div class="form-group row">
                                            <input hidden name="id" v-model="CategoryDTO.id"
                                                   readonly>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="control-label requiredField">
                                                    Category (English)
                                                    <span class="asteriskField">*</span>
                                                </label>
                                                <input  class="form-control"
                                                        name="categoryName" v-model="CategoryDTO.categoryName"
                                                        placeholder="categoryName" required
                                                        type="text">
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="control-label requiredField">
                                                    Category (Nepali)
                                                    <span class="asteriskField">*</span>
                                                </label>
                                                <input  class="form-control"
                                                        name="categoryNameNepali"  v-model="CategoryDTO.categoryNameNepali"
                                                        placeholder="Category name. . . ."
                                                        required
                                                        type="text">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="control-label requiredField">
                                                    Category Description (English)
                                                    <span class="asteriskField">*</span>
                                                </label>
                                                <input  class="form-control"
                                                        name="categoryDescription" v-model="CategoryDTO.categoryDescription"
                                                        placeholder="Category name. . . ."
                                                        required
                                                        type="text">
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="control-label requiredField">
                                                    Category Description (Nepali)
                                                    <span class="asteriskField">*</span>
                                                </label>
                                                <input  class="form-control"
                                                        name="categoryDescriptionNepali" v-model="CategoryDTO.categoryDescriptionNepali"
                                                        placeholder="Category name. . . ."
                                                        required
                                                        type="text">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6 mb-3 mb-sm-0">
                                                <label class="control-label requiredField">
                                                    Vehicle Type
                                                    <span class="asteriskField">*</span>
                                                </label>
                                                <select class="form-control"
                                                        id="vehicleType" v-model="CategoryDTO.vehicleType" name="vehicleType" required>
                                                    <option disabled selected value="">Select Vehicle Type</option>
                                                    <option  value="TWO_WHEELER" >TWO_WHEELER</option>
                                                    <option  value="FOUR_WHEELER">FOUR_WHEELER</option>
                                                    <option  value="SIX_WHEELER"> SIX_WHEELER</option>
                                                    <!--                                                        <option th:each="vt : ${vehicleType}"  th:if="${vt==''}" selected  th:text="${vt}" ></option>-->
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label requiredField">
                                                    Parking Rate(<i>Hourly/In Nrs.</i>)
                                                    <span class="asteriskField">*</span>
                                                </label>
                                                <input  class="form-control"
                                                        name="rate" v-model="CategoryDTO.rate"
                                                        placeholder="Parking Rate in Nrs. . . ."
                                                        required
                                                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                        type="text">
                                            </div>
                                        </div>

                                        <b-button  variant="danger">Cancel</b-button>
                                        <b-button  @click="saveCategory(CategoryDTO)" variant="success">Add Category</b-button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="showCategoryAddForm===false && showCategoryUpdateForm===true">
                <div align="center">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <div align="left">
                                                <b-button @click="goBackToCategoryList()"> Back </b-button>
                                            </div>
                                            <h1 class="h4 text-gray-900 mb-4">Update
                                                Category!</h1>
                                        </div>
                                        <form class="AddUser" method="post">

                                            <div class="form-group row">
                                                <input hidden name="id" v-model="retrieveCategory.id"
                                                       readonly>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="control-label requiredField">
                                                        Category (English)
                                                        <span class="asteriskField">*</span>
                                                    </label>
                                                    <input autocomplete="off" class="form-control form-control-user"
                                                           name="categoryName" v-model="retrieveCategory.categoryName"
                                                           placeholder="Category name. . . ." required
                                                           type="text">
                                                </div>

                                                <div class="col-sm-6">
                                                    <label class="control-label requiredField">
                                                        Category (Nepali)
                                                        <span class="asteriskField">*</span>
                                                    </label>
                                                    <input autocomplete="off" class="form-control form-control-user"
                                                           name="categoryNameNepali" v-model="retrieveCategory.categoryNameNepali"
                                                           placeholder="Category name. . . ."
                                                           required
                                                           type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="control-label requiredField">
                                                        Category Description (English)
                                                        <span class="asteriskField">*</span>
                                                    </label>
                                                    <input autocomplete="off" class="form-control form-control-user"
                                                           name="categoryDescription" v-model="retrieveCategory.categoryDescription"
                                                           placeholder="Category name. . . ."
                                                           required
                                                           type="text">
                                                </div>

                                                <div class="col-sm-6">
                                                    <label class="control-label requiredField">
                                                        Category Description (Nepali)
                                                        <span class="asteriskField">*</span>
                                                    </label>
                                                    <input autocomplete="off" class="form-control form-control-user"
                                                           name="categoryDescriptionNepali" v-model="retrieveCategory.categoryDescriptionNepali"
                                                           placeholder="Category name. . . ."
                                                           required
                                                           type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-6 mb-3 mb-sm-0">
                                                    <label class="control-label requiredField">
                                                        Vehicle Type
                                                        <span class="asteriskField">*</span>
                                                    </label>
                                                    <select class="select form-control form-control-select"
                                                            id="updateVehicleType" v-model="retrieveCategory.vehicleType" name="vehicleType" required>
                                                        <option disabled selected value="">Select Vehicle Type</option>
                                                        <option v-model="retrieveCategory.vehicleType"  value="TWO_WHEELER" >TWO_WHEELER</option>
                                                        <option v-model="retrieveCategory.vehicleType"  value="FOUR_WHEELER">FOUR_WHEELER</option>
                                                        <option v-model="retrieveCategory.vehicleType"  value="SIX_WHEELER"> SIX_WHEELER</option>
                                                        <!--                                                        <option th:each="vt : ${vehicleType}"  th:if="${vt==''}" selected  th:text="${vt}" ></option>-->
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label requiredField">
                                                        Parking Rate(<i>Hourly/In Nrs.</i>)
                                                        <span class="asteriskField">*</span>
                                                    </label>
                                                    <input autocomplete="off" class="form-control form-control-user"
                                                           name="rate" v-model="retrieveCategory.rate"
                                                           placeholder="Parking Rate in Nrs. . . ."
                                                           required
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                           type="text">
                                                </div>
                                            </div>
                                            <b-button  variant="danger">Cancel</b-button>
                                            <b-button  @click="updateCategory(retrieveCategory)" variant="success">Update Category</b-button>
                                        </form>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="showCategoryAddForm===false && showCategoryUpdateForm===false">
                <div align="right">
                    <div id="content">
                        <div  class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <div align="left">
                                                <b-button @click="goBackToDashboard"> Dashboard </b-button>
                                            </div>
                                            <h6 align="center" class="m-0 font-weight-bold text-primary">Category List</h6>
                                            <a class="float-lg-right btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                       <i class="fa fa-plus-circle"></i>
                                    </span>
                                                <span class="text" @click="getCategoryAddForm()">Add</span>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <div id="categoryList" class="table-responsive">
                                                <vue-good-table
                                                        :columns="columns"
                                                        :rows="rows"
                                                        :paginate="true"
                                                        :lineNumbers="true"
                                                        max-height="500px"
                                                        max-width="50px"
                                                        :search-options="{
                                             enabled: true
                                                         }"
                                                        :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
                                                    <template slot="table-row" slot-scope="props">
                                       <span v-if="props.column.field ==='actions'">
                                      <b-button  @click="getCategoryById(props.row.id)">Edit </b-button>
                                        </span>
                                                    </template>
                                                </vue-good-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>

<script>
    import Sidebar from "./Sidebar";
    import Vue from 'vue'
    import { VueGoodTable } from 'vue-good-table';
    import  api from "./backend-api";
    import axios from 'axios';
    import 'vue-good-table/dist/vue-good-table.css';
    import VueSweetalert2 from 'vue-sweetalert2';
    import 'sweetalert2/dist/sweetalert2.min.css';
    Vue.use(VueSweetalert2);
    export default {
        name: "Category",
        components: {
            Sidebar,
            VueGoodTable,
            VueSweetalert2
        },
        data() {
            return {
                response: [],
                search: '',
                showCategoryUpdateForm: false,
                showCategoryAddForm: false,
                retrieveCategory: {},
                CategoryDTO: {
                    'id': '',
                    'categoryName': '',
                    'categoryNameNepali': '',
                    'rate': '',
                    'categoryDescription': '',
                    'categoryDescriptionNepali': '',
                    'vehicleType': ''
                },
                columns: [{
                    label: 'Id',
                    field: 'id',
                    filterable: true,
                },
                    {
                        label: 'Category Name',
                        field: 'categoryName',
                        filterable: true,
                    },
                    {

                        label: 'Category Name Nepali',
                        field: 'categoryNameNepali',
                        filterable: true
                    },
                    {
                        label: 'Rate',
                        field:'rate',
                        filterable:true
                    },
                    {
                        label:'Category Description',
                        field:'categoryDescription',
                        filterable:true
                    },
                    {
                        label:'Category Description Nepali',
                        field:'categoryDescriptionNepali',
                        filterable:true
                    },
                    {
                        label:'Vehicle Type',
                        field:'vehicleType',
                        filterable: true
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    }],
                rows: [],
            }
        },
        methods: {
            goBackToDashboard()
            {
                this.$router.push('SuperAdmin');
            },
            getCategoryAddForm() {
                this.showCategoryAddForm = true;
            },
            saveCategory(CategoryDTO) {
                if(CategoryDTO.categoryName==="")
                {
                    this.$swal.fire('Oops...', 'your category name is empty', 'error');
                }
                else if(CategoryDTO.categoryNameNepali==="")
                {
                    this.$swal.fire('Oops...', 'your category name nepali is empty', 'error');
                }
                else if(CategoryDTO.rate==="")
                {
                    this.$swal.fire('Oops...', 'your rate is empty', 'error');
                }

                else if(CategoryDTO.categoryDescription==="")
                {
                    this.$swal.fire('Oops...', 'your category description is empty', 'error');
                }

                else if(CategoryDTO.categoryDescriptionNepali==="")
                {
                    this.$swal.fire('Oops...', 'your category description nepali is empty', 'error');
                }

                else if(CategoryDTO.vehicleType==="")
                {
                    this.$swal.fire('Oops...', 'your vehicle type is empty', 'error');
                }
                else {
                    api.saveCategory(CategoryDTO).then(response => {
                        this.response = response.data;
                        console.log(response.data);
                    });
                }
            },
            getCategoryById(id) {
                this.showCategoryAddForm = false;
                this.showCategoryUpdateForm = true;
                api.getCategoryById(id).then(response => {
                    this.retrieveCategory = response.data;
                    console.log(response.data);
                })
            },
            updateCategory(retrieveCategory) {
                api.updateCategory(retrieveCategory).then(response => {
                    this.retrieveCategory = response.data;
                    console.log(response.data);
                }).catch(e => {
                    console.log(e);
                })
            },
            goBackToCategoryList()
            {
                this.showCategoryAddForm = false;
                this.showCategoryUpdateForm = false;
            }
        },
        mounted() {
            axios.get("http://localhost:8098/auth/admin/category/list").then(res => {
                this.rows = res.data;
                console.log(res.data);
            })
        }
    }
</script>
<style scoped>
    #content{
        width: 1500px;
    }
    div.row{
        width: 1300px;
    }
</style>