<template>
    <body id="page-top">
    <Sidebar/>
    <div id="wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div align="right">
                <div id="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="float-right">
                                        <button @click="createExcel(FilterEnum)"  class="btn btn-secondary btn-icon-split btn-sm" id="button-report1">
                    <span class="icon text-white-50">
                      <i class="fa fa-file-excel" style="color: white;font-size: x-large;"></i>
                    </span>
                                            <span class="text">  Download</span>
                                        </button>
                                    </div>
                                    <div align="left">
                                        <b-button @click="goBackToDashboard"> Dashboard </b-button>
                                    </div>
                                    <div align="center">
                                        <h6 class="m-0 font-weight-bold text-primary">Invoices List</h6>
                                        <form align="center">
                                            <select name="filter" v-model="FilterEnum" @click="getInvoiceByDate(FilterEnum)">
                                                <option  value="DAILY" >Daily</option>
                                                <option  value="WEEKLY">Weekly</option>
                                                <option  value="MONTHLY" >Monthly</option>
                                                <option  value="ALL">All</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div v-if="retrieveInvoiceByFilter===true">
                                        <div class="main-container">
                                            <div class="card-body">
                                                <vue-good-table
                                                        :columns="columns"
                                                        :rows="rowsDate"
                                                        :paginate="true"
                                                        :lineNumbers="true"
                                                        :search-options="{
                                             enabled: true
                                                         }"
                                                        :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
                                                </vue-good-table>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else-if="retrieveInvoiceByFilter===false">
                                        <div class="main-container">
                                            <div class="card-body">
                                                <vue-good-table
                                                        :columns="columns"
                                                        :rows="rows"
                                                        :paginate="true"
                                                        :lineNumbers="true"
                                                        :search-options="{
                                             enabled: true
                                                         }"
                                                        :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
                                                </vue-good-table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>

<script>
    import api from './backend-api';
    import axios from 'axios';
    import Sidebar from "./Sidebar";
    import XLSX from 'xlsx';
    import { VueGoodTable } from 'vue-good-table';
    import 'vue-good-table/dist/vue-good-table.css'
    export default {
        name: "Invoice",
        components: {
            Sidebar,
            VueGoodTable
        },
        computed: {
            data() {
                return {
                    columns: this.columns,
                    rows: this.rows
                };
            },
        },
        data() {
            return {
                FilterEnum: 'DAILY',
                retrieveInvoiceByFilter: false,
                invoices: [{'id': '', 'vehicleNumber': '', 'checkIn': '', 'checkOut': '', 'duration': '', 'price': ''}],
                excelList: {},
                tableList: false,
                rows: [],
                rowsDate: [],
                columns: [{
                    label: 'Id',
                    field: 'id',
                    filterable: true,
                },
                    {
                        label: 'Vehicle Number',
                        field: 'vehicleNumber',
                        filterable: true,
                    },
                    {

                        label: 'Check In',
                        field: 'checkIn',
                        filterable: true
                    },
                    {
                        label: 'Check Out',
                        field: 'checkOut',
                        filterable: true
                    },
                    {
                        label: 'duration',
                        field: 'duration',
                        filterable: true
                    },
                    {
                        label: 'price',
                        field: 'price',
                        filterable: true
                    },
                    ],
            }
        },
        methods: {
            goBackToDashboard()
            {
                this.$router.push('SuperAdmin');
            },
            getInvoiceByDate(FilterEnum) {
                this.retrieveInvoiceByFilter = true;
                api.getInvoiceByDate(FilterEnum).then(response => {
                    this.rowsDate = response.data;
                    console.log(response.data);
                }).catch(e => {
                    console.log(e);
                })
            },
            createExcel(FilterEnum) {
                this.tableList = true;
                api.getListUser(FilterEnum).then(response => {
                    this.invoices = response.data;
                    console.log(response.data);
                    var invoiceExcel = XLSX.utils.json_to_sheet(this.invoices);
                    var wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, invoiceExcel, 'invoices');
                    XLSX.writeFile(wb, FilterEnum + '_' + 'Report.xlsx');
                });
            },
            mounted() {
                axios.get("http://localhost:8098/auth/admin/user/List/" + "DAILY").then(res => {
                    this.rows = res.data;
                    console.log(res.data);
                })
            }
        }
    }
</script>

<style scoped>
    #content{
        width: 1375px;
    }
</style>