<template>
    <div>
    <div v-if="showSuperAdminSidebar">
        <Sidebar/>
    </div>
    <div v-else-if="showSuperAdminSidebar===false">
        <BranchSidebar/>
    </div>
            <div id="content-wrapper" class="d-flex flex-column">
                <div  class="container-fluid">
                        <div align="right">
                            <div id="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div align="left">
                            <b-button @click="goBackToDashboard()">Back</b-button>
                        </div>
                        <div class="float-right">
                            <button @click="createExcel(branchData.userId,FilterEnum)"class="btn btn-secondary btn-icon-split btn-sm" id="button-report1">
                    <span class="icon text-white-50">
                      <i class="fa fa-file-excel" style="color: white;font-size: x-large;"></i>
                    </span>
                                <span class="text">  Download</span>
                            </button>
                        </div>
                        <div align="center">
                            <h6 class="m-0 font-weight-bold text-primary">Invoices List</h6>
                            <form align="center">
                                <select name="filter" v-on:click="getInvoiceIdByFilter(branchData.userId,FilterEnum)" v-model="FilterEnum">
                                    <option  value="DAILY" >Daily</option>
                                    <option  value="WEEKLY">Weekly</option>
                                    <option  value="MONTHLY" >Monthly</option>
                                    <option  value="ALL">All</option>
                                </select>
                            </form>
<div v-if="showInvoiceByDate">
        <div class="card-body">
            <vue-good-table
                    :columns="columns"
                    :rows="rowsData"
                    :paginate="true"
                    :lineNumbers="true"
                    :search-options="{
                                             enabled: true
                                                         }"
                    :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
            </vue-good-table>
        </div>
    </div>
                            <div v-else-if="showInvoiceByDate===false">
                                <div class="card-body">
                                    <vue-good-table
                                            :columns="columns"
                                            :rows="rows"
                                            :paginate="true"
                                            :lineNumbers="true"
                                            :search-options="{
                                             enabled: true
                                                         }"
                                            :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
                                    </vue-good-table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        </div>
                </div>
            </div>
        </div>
</template>

<script>
    import BranchSidebar from "./BranchSidebar";
    import Sidebar from "./Sidebar";
    import { VueGoodTable } from 'vue-good-table';
    import 'vue-good-table/dist/vue-good-table.css'
    import api from './backend-api'
    import axios from 'axios'
    import XLSX from 'xlsx';
    export default {
        name: "InvoiceById",
        components: {
            Sidebar,
            BranchSidebar,
            VueGoodTable
        },
        data() {
            return {
                branchData: {'userId': '', 'userType': ''},
                showInvoiceByDate: false,
                showSuperAdminSidebar: false,
                invoices: [],
                rows: [],
                rowsData: [],
                FilterEnum: 'DAILY',
                columns: [{
                    label: 'Id',
                    field: 'id',
                    filterable: true,
                },
                    {
                        label: 'Vehicle Number',
                        field: 'vehicleNumber',
                        filterable: true,
                    },
                    {

                        label: 'Check In',
                        field: 'checkIn',
                        filterable: true
                    },
                    {
                        label: 'Check Out',
                        field: 'checkOut',
                        filterable: true
                    },
                    {
                        label: 'duration',
                        field: 'duration',
                        filterable: true
                    },
                    {
                        label: 'price',
                        field: 'price',
                        filterable: true
                    }]
            }
        },
        methods: {
            goBackToDashboard()
            {
              this.$router.push('Admin');
            },
            getInvoiceIdByFilter(userId, FilterEnum) {
                api.getInvoiceIdByFilter(userId, FilterEnum).then(response => {
                    this.rowsData = response.data;
                    this.showInvoiceByDate = true;
                    console.log(response.data);
                })
            },
            createExcel(userId,FilterEnum) {
                api.getInvoiceIdByFilter(userId,FilterEnum).then(response => {
                    this.invoices = response.data;
                    console.log(response.data);
                    var invoiceExcel = XLSX.utils.json_to_sheet(this.invoices);
                    var wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, invoiceExcel, 'invoices');
                    XLSX.writeFile(wb, FilterEnum + '_' + 'report.xlsx');
                });
            }
        },
        mounted() {
            axios.get('http://localhost:8098/auth/').then(response => {
                this.branchData = response.data;
                console.log(this.branchData.userId);
                console.log(response.data);
                api.getInvoiceById(this.branchData.userId).then(response => {
                    this.rows = response.data;
                    console.log(response.data);
                })
            })
        }
    }
</script>

<style scoped>
    #content{
        width: 1375px;
    }
</style>