<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <div id="app">
                    <div class="unprotected" v-if="loginError">
                      <h1><b-badge variant="danger">You don't have rights here, mate :D</b-badge></h1>
                      <h5>Seams that you don't have access rights... </h5>
                    </div>
                    <div class="unprotected" v-else>
                      <form @submit.prevent="callLogin" class="user" method="post">
                        <div class="form-group">
                          <input aria-describedby="emailHelp" class="form-control form-control-user" id="exampleInputEmail"
                                 name="username" v-model="username" placeholder="Username..."
                                 type="text">
                        </div>
                        <div class="form-group">
                          <input class="form-control form-control-user" id="exampleInputPassword" name="password"
                                 placeholder="Password" v-model="password" type="password">
                        </div>
                        <div class="form-group">
                          <div class="custom-control custom-checkbox small">
                            <input class="custom-control-input" id="customCheck" type="checkbox">
                            <!--                        <label class="custom-control-label" for="customCheck">Remember Me</label>-->
                          </div>
                        </div>
                        <button class="btn btn-primary btn-user btn-block" type="submit"> Login</button>
                      </form>
                    </div>
                  </div>
                  <hr>
                  <!--                                <img src="/img/NCC-Bank-Logo.jpg" style="width: 217px;margin-left: 65px;">-->
                </div>
              </div>
            </div>
          </div>

        </div>
        <div style="padding: 40px;">
          <img src="/img/logo.png" style="position: absolute;width: 225px;left: 190px;bottom: 50px;">
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import  api from "./backend-api"
  export default {
    name: 'login',

    data () {
      return {
        userValue:{'userId':'', userType:''},
        loginError: false,
        response:{},
        username: '',
        password: '',
        error: false,
        errors: []
      }
    },
    methods: {
      callLogin() {
        this.errors = [];
        if(this.username==='')
        {
          alert('username is empty');
        }
        this.$store.dispatch("login", { username: this.username, password: this.password})
                .then(() => {
                  api.getSecured(this.username, this.password).then(response=>{
                    this.userValue=response.data;
                    console.log(response.data);
                    if(this.userValue.userType==="SYSTEM_ADMIN")
                    {
                      this.$router.push('SuperAdmin');
                    }
                    else if(this.userValue.userType==='ADMIN')
                    {
                      this.$router.push('Admin');
                    }
                  })
                })
                .catch(error => {
                  this.loginError = true;
                  this.errors.push(error);
                  this.error = true
                })
      },
    }
  }
</script>