<template>
    <body id="page-top">
    <div align="center">
    </div>
    <Sidebar/>
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container">

                        <div class="card o-hidden border-0 shadow-lg my-5">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="">
                                            <div class="text-center">
                                                <h1> <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>  Change Password!</h1>
                                            </div>
                                            <div align="center" class="row">
                                                <div class="col-sm-12">
                                                    <div class="wrap">
                                                        <form method="post">
                                                            <div align="center" class="col-sm-6">
                                                                <label for="currentPassword" class="mat-label">Current Password</label>
                                                                <input type="password" autocomplete="off" v-model="ChangePasswordDTO.oldPassword" name="oldPassword"
                                                                       class="mat-input" id="currentPassword" required>
                                                            </div>

                                                            <div align="center" class="col-sm-6">
                                                                <label for="newPassword" class="mat-label">New Password</label>
                                                                <input type="password" autocomplete="off" v-model="ChangePasswordDTO.newPassword"
                                                                       name="newPassword" class="mat-input"
                                                                       id="newPassword" required>
                                                            </div>

                                                            <div align="center" class="col-sm-6">
                                                                <label for="confirmPassword" class="mat-label">Confirm Password</label>
                                                                <input type="password" autocomplete="off" v-model="ChangePasswordDTO.confirmPassword"
                                                                       name="confirmPassword" class="mat-input" id="confirmPassword">
                                                            </div>
                                                            <div align="center">
                                                                <b-button  variant="danger">Cancel</b-button>
                                                                <b-button @click="changePassword(ChangePasswordDTO)"   variant="success">Update Password</b-button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>

<script>
    import Sidebar from "./Sidebar";
    import api from "./backend-api"
    export default {
        name: "Setting",
        components: {
            Sidebar
        },
        data()
        {
            return{
                response:{},
                ChangePasswordDTO:{'oldPassword':'', 'newPassword':'', 'confirmPassword':''}
            }
        },
        methods:{
            changePassword(ChangePasswordDto)
            {
                api.changePassword(ChangePasswordDto).then(response=>{
                    this.response=response.data;
                    console.log(response.data);
                })
            }
        }
    }
</script>

<style scoped>

</style>