<template>
    <body id="page-top">
    <Sidebar/>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div v-if="showStaffForm">
                <div align="center">
                    <b-button  @click="goBackToStaffList()"> Back</b-button>
                </div>
                <h1 class="h3 mb-4 text-gray-800 text-center">
                    Staff!</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div align="center" class="wrap">
                            <form>
                                <input hidden  name="id" v-model="BranchUserDTO.id" readonly>
                                <input hidden name="userId" v-model="BranchUserDTO.userId" readonly >
                                <div class="col-md-5 pr-md-1">
                                    <div  class="form-group has-label">
                                        <label  class="grey-text">Staff Name</label>
                                        <input v-model="BranchUserDTO.branchName" autocomplete="off" class="mat-input" id="branch-name"
                                               name="branchName" required
                                               maxlength="20"
                                               min="4"  type="text"/>
                                    </div>
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="shift">Shift</label>
                                    <select class="mat-input"
                                            id="shift"
                                            name="shift" required v-model="BranchUserDTO.shift">
                                        <option disabled selected value="">Select shift</option>
                                        <option  value="MORNING"> MORNING</option>
                                        <option  value="DAY"> DAY</option>
                                        <option  value="EVENING"> EVENING</option>
                                        <!--                                        <option th:each="sft : ${shift}" th:text="${sft}" th:value="${sft}"></option>-->
                                    </select>
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="address">Address</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="address" name="address"
                                           required  type="text" v-model="BranchUserDTO.address">
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="email">Email</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="email" name="email"
                                           required  type="email" v-model="BranchUserDTO.email">
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="username">Mobile No.</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="username" maxlength="10" name="username" v-model="BranchUserDTO.username"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           required  type="text">
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="password">Password</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="password" name="password" v-model="BranchUserDTO.password"
                                           required
                                           type="password">
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <b-button variant="danger">Cancel</b-button>
                                        <b-button @click="saveStaff(BranchUserDTO)" variant="success">Add Staff</b-button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else-if="retrieveStaffById===true && showStaffForm===false">
                <div align="center">
                    <b-button  @click="goBackToStaffList()"> Back</b-button>
                </div>
                <h1 class="h3 mb-4 text-gray-800 text-center">
                    Staff!</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div align="center" class="wrap">
                            <form>
                                <input hidden name="id" v-model="retrieveBranch.id" readonly>
                                <input hidden name="userId" v-model="retrieveBranch.userId" readonly >
                                <div class="col-md-5 pr-md-1">
                                    <div  class="form-group has-label">
                                        <label  class="grey-text">Staff Name</label>
                                        <input v-model="retrieveBranch.branchName" autocomplete="off" class="mat-input" id="updateBranch-Name"
                                               name="updateBranchName" required
                                               maxlength="20"
                                               min="4" type="text">
                                    </div>
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="shift">Shift</label>
                                    <select class="mat-input"
                                            id="updateShift"
                                            name="shift" required v-model="retrieveBranch.shift">
                                        <option v-model="retrieveBranch.shift" value="MORNING" > Morning</option>
                                        <option v-model="retrieveBranch.shift" value="DAY"> DAY</option>
                                        <option v-model="retrieveBranch.shift" value="EVENING"> EVENING</option>
                                        <!--                                        <option th:each="sft : ${shift}" th:text="${sft}" th:value="${sft}"></option>-->
                                    </select>
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="address">Address</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="updateAddress" name="address"
                                           required  type="text" v-model="retrieveBranch.address">
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="email">Email</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="updateEmail" name="email"
                                           required  type="email" v-model="retrieveBranch.email">
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="username">Mobile No.</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="updateUsername" maxlength="10" name="username" v-model="retrieveBranch.username"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           required  type="text">
                                </div>

                                <div class="form-group has-label">
                                    <label class="mat-label" for="password">Password</label>
                                    <input autocomplete="off" class="mat-input"
                                           id="updatePassword" name="password" v-model="retrieveBranch.password"
                                           required
                                           type="password">
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <b-button variant="danger">Cancel</b-button>
                                        <b-button @click="updateStaff(retrieveBranch)" variant="success">Update Staff</b-button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Heading -->
            <div v-else-if="showStaffForm===false && retrieveStaffById===false">
                <div align="right">
                    <div id="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 align="center" class="m-0 font-weight-bold text-primary">Staff List</h6>
                                            <div align="left">
                                                <b-button @click="goBackToDashboard"> Dashboard </b-button>
                                            </div>
                                            <a class="float-lg-right btn btn-secondary btn-icon-split">
                                    <span class="icon text-white-50">
                                       <i class="fa fa-plus-circle"></i>
                                    </span>
                                                <span class="text" @click="getAddForm()">Add</span>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <vue-good-table
                                                    :columns="columns"
                                                    :rows="rows"
                                                    :paginate="true"
                                                    :lineNumbers="true"
                                                    max-height="400px"
                                                    :search-options="{
                                             enabled: true
                                                         }"
                                                    :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
                                                <template slot="table-row" slot-scope="props">
                                       <span v-if="props.column.field ==='actions'">
                                      <b-button  @click="getStaffById(props.row.id)">Edit </b-button>
                                        </span>
                                                </template>
                                            </vue-good-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>

<script>
    import Sidebar from "./Sidebar";
    import axios from 'axios';
    import api from './backend-api'
    import { VueGoodTable } from 'vue-good-table';
    import 'vue-good-table/dist/vue-good-table.css';
    import Vue from 'vue'
    import VueSweetalert2 from 'vue-sweetalert2';
    import 'sweetalert2/dist/sweetalert2.min.css';
    Vue.use(VueSweetalert2);
    export default{
        name:'staff',
        components: {
            Sidebar,
            VueGoodTable,
            VueSweetalert2
        },
        data()
        {
            return{
                showStaffForm: false,
                retrieveStaffById: false,
                response: [],
                'id':'',
                'branchName':'',
                'shift':'',
                'email':'',
                'address':'',
                'status':'',
                'userId':'',
                'userLogin':'',
                'username':'',
                'password':'',
                'retrieveBranch':{},
                BranchUserDTO:{'id':'', 'branchName':'', 'shift':'', 'address':'','userId':'', 'username':'', 'password':'', 'email':''},
                columns: [{
                    label: 'Branch Id',
                    field: 'id',
                    filterable: true,
                },
                    {
                        label: 'Branch Name',
                        field: 'branchName',
                        filterable: true,
                    },
                    {

                        label: 'Address',
                        field: 'address',
                        filterable: true
                    },
                    {
                        label: 'Shift',
                        field:'shift',
                        filterable:true
                    },
                    {
                        label:'UserLogin',
                        field:'userLogin',
                        filterable:true
                    },
                    {
                        label: 'Actions',
                        field: 'actions',
                        sortable: false,
                    }],
                rows: [{branch:{'id':'','branchName':'','address':'','shift':'','userLogin':''}}]
                // retrieveBranch:{BranchUserDTO:{'id':'', 'branchName':'', 'shift':'', 'address':'','userId':'', 'username':'', 'password':'', 'email':'', 'status':'', 'userType':''}}
            }
        },
        methods:{
            goBackToDashboard()
            {
                this.$router.push('SuperAdmin');
            },
            getAddForm()
            {
                this.showStaffForm=true
            },
            saveStaff(BranchUserDTO) {
                var atPosition=BranchUserDTO.email.indexOf("@");
                var dotPosition=BranchUserDTO.email.lastIndexOf(".");
                if (BranchUserDTO.branchName === "") {
                    this.$swal.fire('Oops...', 'your branch name is empty', 'error');
                } else if (BranchUserDTO.shift === "") {
                    this.$swal.fire('Oops...', 'your shift is empty', 'error');
                } else if (BranchUserDTO.address === "") {
                    this.$swal.fire('Oops...', 'your address is empty', 'error');
                }
                else if(BranchUserDTO.email==="")
                {
                    this.$swal.fire('Oops...', 'your email is empty', 'error');
                }
                else if(atPosition<1 || dotPosition<atPosition+2 || dotPosition+2>=BranchUserDTO.email.length)
                {
                    this.$swal.fire("Sorry", "You have entered invalid email address", "error");
                }
                else if(BranchUserDTO.username==="")
                {
                    this.$swal.fire("Sorry", "Your phone number is empty", "error");
                }

                else if(BranchUserDTO.username.length<10 || BranchUserDTO.username.length>10)
                {
                    this.$swal.fire("Sorry", "please enter a phone number equal to 10 digits", "error");
                }

                else if(BranchUserDTO.password==="")
                {
                    this.$swal.fire("Sorry", "Your password is empty", "error");
                }
                else {
                    api.saveStaff(BranchUserDTO).then(response => {
                        this.response = response.data;
                        console.log(response.data);
                    }).catch(e => {
                        console.log(e);
                    })
                }
            },
            getStaffById(id)
            {
                api.getStaffById(id).then(response=>{
                    this.retrieveBranch=response.data;
                    this.showStaffForm=false;
                    this.retrieveStaffById=true;
                    console.log(response.data);
                }).catch(e =>{
                    console.log(e);
                })
            },
            updateStaff(retrieveBranch)
            {
                api.updateStaff(retrieveBranch).then(response=>{
                    this.retrieveBranch=response.data;
                    console.log(response.data);
                }).catch(e=>{
                    console.log(e);
                })
            },
            goBackToStaffList()
            {
                this.showStaffForm=false;
                this.retrieveStaffById=false;

            }
        },
        mounted() {
            axios.get("http://localhost:8098/auth/admin/staff/list").then(res => {
                this.rows = res.data;
                console.log(res.data);
            })
        }
    }
</script>

<style scoped>
    #content
    {
        width: 1300px;
    }
</style>