<template>
    <body id="page-top">
    <div id="protected">
        <Sidebar/>
    </div>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div  class="container-fluid">
                <div v-if="condition">
                    <div align="right">
                        <div id="content">
                            <b-collapse align="center" id="collapse-2">
                                <b-card>
                                    <div class="container my-auto">
                                        <div id="cardData">
                                            <div class="card-columns" id="cardContents">
                                                <div class="card bg-primary">
                                                    <div class="card-body text-center">
                                                        <div class="card-text">
                                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Total Income : {{retrieve.IndividualData.totalIncome}}</span>
                                                            <span class="h5 mb-0 font-weight-bold text-white"> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-warning">
                                                    <div class="card-body text-center">
                                                        <div class="card-text">
                                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Two Wheelers : {{retrieve.IndividualData.two}} </span>
                                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-success">
                                                    <div class="card-body text-center">
                                                        <div class="card-text">
                                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Total transaction : {{retrieve.IndividualData.totalTransaction}} </span>
                                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-danger">
                                                    <div class="card-body text-center">
                                                        <div class="card-text">
                                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">FOUR Wheelers : {{retrieve.IndividualData.four}} </span>
                                                            <span class="h5 mb-0 font-weight-bold text-white"
                                                            ></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-success">
                                                    <div class="card-body text-center">
                                                        <div class="card-text">
                                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Today's Transaction : {{retrieve.IndividualData.todayTotalTransaction}} </span>
                                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card bg-info">
                                                    <div class="card-body text-center">
                                                        <div class="card-text">
                                                            <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Six Wheelers :{{retrieve.IndividualData.six}} </span>
                                                            <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </b-card>
                            </b-collapse>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <div align="left">
                                                <b-button @click="goBackToDashboard()">Back</b-button>
                                            </div>
                                            <div class="float-right">
                                                <b-button v-b-toggle="'collapse-2'" class="m-1">View Individual Data</b-button>
                                                <button  @click="createExcel(branch.userId, FilterEnum)"  class="btn btn-secondary btn-icon-split btn-sm" id="button-report1">
                    <span class="icon text-white-50">
                      <i class="fa fa-file-excel" style="color: white;font-size: x-large;"></i>
                    </span>
                                                    <span class="text">  Download</span>
                                                </button>
                                            </div>
                                            <div align="center">
                                                <h6 class="m-0 font-weight-bold text-primary">Invoices List</h6>
                                                <form align="center">
                                                    <select name="filter" v-model="FilterEnum"  v-on:click="getInvoiceIdByFilter(branch.userId, FilterEnum)">
                                                        <option  value="DAILY" >Daily</option>
                                                        <option  value="WEEKLY">Weekly</option>
                                                        <option  value="MONTHLY" >Monthly</option>
                                                        <option  value="ALL">All</option>
                                                    </select>
                                                </form>
                                                <div v-if="showInvoiceByDate===true">
                                                    <div class="card-body">
                                                        <vue-good-table
                                                                :columns="columns"
                                                                :rows="rowsDate"
                                                                :paginate="true"
                                                                :lineNumbers="true"
                                                                :search-options="{
                                             enabled: true
                                                         }"
                                                                :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
                                                        </vue-good-table>
                                                    </div>
                                                </div>
                                                <div v-else-if="showInvoiceByDate===false">
                                                    <div class="card-body">
                                                        <vue-good-table
                                                                :columns="columns"
                                                                :rows="rows"
                                                                :paginate="true"
                                                                :lineNumbers="true"
                                                                :search-options="{
                                             enabled: true
                                                         }"
                                                                :pagination-options="{
                                             enabled: true,
                                             mode: 'pages'
                                                        }">
                                                        </vue-good-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else-if="condition===false">
                    <!-- Earnings (Monthly) Card Example -->
                    <async url="http://localhost:8098/auth/admin/dashboard">
                        <template v-slot:default="{ pending, error, data }">
                            <div v-if="pending">Loading ...</div>
                            <div v-else-if="error">{{ error }}</div>
                            <div v-else>
                                <div v-for="dav in data">
                                    <div class="sticky-footer bg-black">
                                        <!--              <div  onclick="'window.location.href=\'/auth/invoices/list/' + {{dav.branch.id}} + '?filter=DAILY'+ '\''"-->
                                        <!--                   class="col-xl-3 col-md-6 mb-4 cursor-dashboard">-->
                                        <!--              </div>-->
                                        <div class="container my-auto">
                                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                                                <!--            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
                                            </div>
                                            <div class="row">
                                                <div v-for="branches in dav.branch"  class="col-xl-3 col-md-6 mb-4 cursor-dashboard">
                                                    <div   class="card border-left-success shadow h-100 py-2">
                                                        <div @click="getInvoiceById(branches.userId)" class="card-body">
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col mr-2">
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span>{{branches.id}}  </span></div>
                                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><span>{{branches.branchName}} </span></div>
                                                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><span>{{branches.userLogin}}  </span></div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <i class="fa fa-code-branch fa-2x text-gray-300"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="staff-data">
                                                <div class="card-columns">
                                                    <div class="card bg-primary">
                                                        <div class="card-body text-center">
                                                            <div  class="card-text">
                                                                <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Total Income : {{dav.totalAmount}}</span>
                                                                <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div  class="card bg-warning">
                                                        <div class="card-body text-center">
                                                            <div class="card-text">
                                                                <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Two Wheelers :{{dav.two}} </span>
                                                                <span class="h5 mb-0 font-weight-bold text-white" ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-success">
                                                        <div class="card-body text-center">
                                                            <div class="card-text">
                                                                <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Total transaction : {{dav.totalTransaction}} </span>
                                                                <span class="h5 mb-0 font-weight-bold text-white" ></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-danger">
                                                        <div class="card-body text-center">
                                                            <div class="card-text">
                                                                <span class="text-xs font-weight-bold text-white text-uppercase mb-1">FOUR Wheelers :{{dav.four}} </span>
                                                                <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-dark">
                                                        <div class="card-body text-center">
                                                            <div class="card-text">
                                                                <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Total Staff :{{dav.numberOfStaff}} </span>
                                                                <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-info">
                                                        <div class="card-body text-center">
                                                            <div class="card-text">
                                                                <span class="text-xs font-weight-bold text-white text-uppercase mb-1">Six Wheelers :{{dav.six}} </span>
                                                                <span class="h5 mb-0 font-weight-bold text-white"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </async>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>

<script>
    import XLSX from 'xlsx';
    import { VueGoodTable } from 'vue-good-table';
    import 'vue-good-table/dist/vue-good-table.css'
    import Sidebar from "./Sidebar";
    import Vue from 'vue';
    import axios from 'axios';
    import api from './backend-api';
    Vue.component("async", {
        props: {
            url: { type: String, default: "", required: true },
            params: { type: Object, default: () => ({}) }
        },
        data() {
            return {
                pending: true,
                error: false,
                data:[
                    {'two':'', 'four':'', 'six':'', 'totalTransaction':'', 'branch':[{'id':'', 'branchName':'', 'userLogin':'', 'userId':''}], 'totalAmount':'', 'user':'', 'numberOfStaff':'', }
                ]
            };
        },
        watch: {
            url() {
                this.requestData();
            },
            params: {
                handler() {
                    this.requestData();
                },
                deep: true
            }
        },
        mounted() {
            this.requestData();
        },
        methods: {
            async requestData() {
                this.pending = true;
                try {
                    const { data } = await axios.get(this.url, { params: this.params });
                    this.data = data;
                    console.log(data);
                    this.error = false;
                } catch (e) {
                    this.data = null;
                    this.error = e;
                }
                this.pending = false;
            }
        },
        render() {
            return this.$scopedSlots.default({
                pending: this.pending,
                error: this.error,
                data: this.data
            });
        }
    });

    export default {
        name: "SuperAdmin",
        components: {
            Sidebar,
            VueGoodTable
        },
        computed: {
            data() {
                return {
                    columns: this.columns,
                    rows: this.rows
                };
            },
        },
        data() {
            return {
                condition: false,
                backendResponse: '',
                securedApiCallSuccess: false,
                errors: null,
                showInvoiceByDate: false,
                retrieveInvoice: {},
                showIndividualData: false,
                invoices: [],
                invoiceDate: [],
                branch: {},
                FilterEnum: 'DAILY',
                retrieve: {
                    IndividualData: {
                        'two': '',
                        'four': '',
                        'six': '',
                        'totalTransaction': '',
                        'totalIncome': '',
                        'todayTotalTransaction': ''
                    }
                },
                rows: [],
                rowsDate: [],
                columns: [{
                    label: 'Id',
                    field: 'id',
                    filterable: true,
                },
                    {
                        label: 'Vehicle Number',
                        field: 'vehicleNumber',
                        filterable: true,
                    },
                    {

                        label: 'Check In',
                        field: 'checkIn',
                        filterable: true
                    },
                    {
                        label: 'Check Out',
                        field: 'checkOut',
                        filterable: true
                    },
                    {
                        label: 'duration',
                        field: 'duration',
                        filterable: true
                    },
                    {
                        label: 'price',
                        field: 'price',
                        filterable: true
                    }]
            }
        },
        methods: {
            logout() {
                api.logout().then(() => {
                    this.$router.push('login');
                })
            },
            goBackToDashboard()
            {
                this.condition=false;
            },
            getInvoiceById(id) {
                console.log(id);
                this.condition = true;
                this.showInvoiceByDate = false;
                api.getInvoiceById(id).then(response => {
                    this.rows = response.data;
                });
                api.findIndividualBranch(id).then(response => {
                    this.branch = response.data;
                    console.log(response.data);
                });
                api.getIndividualData(id).then(response => {
                    this.retrieve = response.data;
                    console.log(response.data);
                })
            },
            getInvoiceIdByFilter(id, FilterEnum) {
                this.showInvoiceByDate = true;
                api.getInvoiceIdByFilter(id, FilterEnum).then(response => {
                    this.rowsDate = response.data;
                    console.log(response.data);
                })
            },
            createExcel(id, FilterEnum) {
                api.getInvoiceIdByFilter(id, FilterEnum).then(response => {
                    this.invoices = response.data;
                    console.log(response.data);
                    var invoiceExcel = XLSX.utils.json_to_sheet(this.invoices);
                    var wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, invoiceExcel, 'invoices');
                    XLSX.writeFile(wb, FilterEnum +'_' + 'report.xlsx');
                });
            }
        }
    }
</script>
<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Anton');
    @import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

    body {
        margin: 0;
        padding: 0;
    }
    #wrapper {
        font-size: 1rem;
        letter-spacing: 1px;
        color: #322F42;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        overflow: hidden;
    }

    #content{
        width: 1375px;
    }
</style>
